<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ControleEstoque.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Registro de produtos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movimentacoes">
                <span class="bi bi-arrow-left-right-nav-menu" aria-hidden="true"></span> Histórico de alterações
            </NavLink>
        </div>
    </nav>
</div>

